<%- include('../partials/header') %>


<body>

  <%- include('../partials/navbar') %>

  <main>
    <div class="container" style="width: 60%;">
      <article>
        <h1 class="card-title mb-2 mt-5">
          <%= article.title %>
        </h1>
        <span class="badge badge-secondary" style="font-size: 10.5px; vertical-align: middle; margin-top: -0.3em; cursor: default;">
          <%= article.category.slug %>
        </span>
        <p class="card-subtitle mt-5 text-muted">
          <!-- <em style="font-weight: bold;"> <%= article.author %> </em> <br>-->

        </p>
        <em>Artigo criado em: <%= createdAt %> | Atualizado em: <%= updatedAt %></em>
        <section>
          <div class="card">
            <div class="card-body">
              <p class="card-text" style="margin-top: 20px;">
                <%- article.body %>
              </p>
            </div>
          </div>
        </section>
      </article>
    </div>
  </main>

</body>

<%- include('../partials/footer') %>