<div class="container">
  <div class="card">
    <div class="card-header">
      <div style="display: flex; justify-content: space-between; align-items: center;">
        <h3 style="cursor: default;">
          Artigos cadastrados
        </h3>
        <span class="button-link">
          <a class="btn btn-success float-right" href="form">+ Adicionar Artigo</a>
        </span>
      </div>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr style="cursor: default;">
            <th>ID</th>
            <th>Título</th>
            <th>Slug</th>
            <th>Categoria</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% articles.forEach(item => { %>
          <tr id="article-row-id-<%= item.id %>">
            <th class="align-middle" style="cursor: default;">
              <span class="badge badge-secondary" style="font-size: 15px;"><%= item.id %></span>
            </th>
            <th class="align-middle" style="cursor: default;"><%= item.title %> </th>
            <th class="align-middle" style="cursor: default;"><%= item.slug %> </th>
            <th class="align-middle" style="cursor: default;"><%= item.category.title %> </th>
            <th id="actions-<%= item.id %>">
              <a href="edit/<%= item.id %>" class="btn btn-warning">Editar</a>
              <form action="/article/<%=item.id%>/delete" method="post" style="display: inline;" onsubmit="deleteArticle(event, this)">
                <input type="hidden" name="id" value="<%= item.id %>">
                <button class="btn btn-danger">Deletar</button>
              </form>
            </th>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
  function deleteArticle(event, form) {

    event.preventDefault()

    let row = document.querySelector("#article-row-id-" + form.id.value)

    Swal.fire({
      title: 'Atenção!',
      text: 'Deseja deletar esse item?',
      icon: 'warning',
      showCancelButton: true,
      confirmButtonColor: '#28A745',
      cancelButtonColor: '#d33',
      confirmButtonText: 'Sim, apague!',
      cancelButtonText: 'Cancelar',
      reverseButtons: true,
      focusConfirm: false
    }).then((result) => {
      if (result.isConfirmed) {
        toastr.success('Artigo deletado', 'Sucesso!')
        row.style.display = 'none';
        setTimeout(() => {
          form.submit()
        }, 1500);
      }
    })
  }
</script>