<div class="container">
  <div class="card">
    <div class="card-header">
      <h3 style="cursor: default;">Lista de Categorias <a class="btn btn-success float-right" href="form">+ Nova Categoria</a></h3>
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr style="cursor: default;">
            <th>Id</th>
            <th>Titulo</th>
            <th>Slug</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <% categories.forEach(item => { %>
            <tr>
              <th class="align-middle" style="cursor: default;"><span class="badge badge-secondary" style="font-size: 15px;"><%= item.id %></span> </th>
              <th class="align-middle" style="cursor: default;"><%= item.title %> </th>
              <th class="align-middle" style="cursor: default;"><%= item.slug %> </th>
              <th id="actions">
                <a href="categories/edit/<%= item.id %>" class="btn btn-warning">Editar</a>
                <form action="<%= item.id %>" method="post" style="display: inline;">
                  <input type="hidden" name="id" value="<%= item.id %>">
                  <button class="btn btn-danger">Deletar</button>
                </form>
                
              </th>
            </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>